[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipykernel = "*"

[packages]
flake8 = "*"
pytest = "*"
autopep8 = "*"
flask = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
flask-wtf = "*"
flask-login = "*"
flask-migrate = "*"
flask-mail = "*"
pyjwt = "*"
flask-moment = "*"
flask-babel = "*"
guess-language-spirit = "*"
email-validator = "*"
flask-admin = "*"
wtforms-components = "*"

[requires]
python_version = "3.8"
