<div class="comment-{{ comment.id }}">
    <div class="comment-top">
        <span class="comment-index">#{{ comm_loop.index }}</span>
        <div class="comment-author" style="{{ 'font-weight: bold' if comment.comment_author == article.article_author }}">
            <a href="{{ url_for('main.user', username=comment.comment_author.username) }}">
                {{ comment.comment_author.username }}
            </a>
        </div>
        <span class="comment-date">{{ moment(comment.date_posted).fromNow() }}</span>
        {% if comment.last_updated != None %}
        <span class="comment-edited">
            edited {{ moment(comment.last_updated).fromNow() }}
        </span>
        {% endif %}
    </div>
    <div id="body-{{ comment.id }}" class="comment-body">
        {{ comment.body }}
    </div>
    <div class="comment-bottom">
        <!-- <span class="comment-bottom-button">
            Reply
        </span> -->
        <span class="comment-bottom-button">
            {% if current_user == comment.comment_author %}
                <a href="" id="edit-{{ comment.id }}" class="edit-link" onclick="insertComment(this.id.split('-')[1])">Edit</a>
                <a href="{{ url_for('main.delete_comment', id=comment.id) }}" id="delete-{{ comment.id }}" class="delete-comment-link">Delete</a>
            {% endif %}
        </span>
    </div>
</div>