{% if articles %}
    <h5 class="article-search-title">Articles</h5>
    {% for article in articles %}
        <div class="small-article-container">
            <a href="{{ url_for('main.article_view', id=article.id) }}">
                {{ article.title }}
            </a>
            <div class="article-body">
                {{ (article.body|safe)[:50] }}...
            </div>
            <div class="comment-top">
                <a href="{{ url_for('main.user', username=article.article_author.name) }}" style="margin-right: 0.7rem">
                    by {{ article.article_author.username }}
                </a>
                <a href="{{ url_for('main.article_view', id=article.id) }}/#comments">
                    Comments({{ article.comments.count() }})
                </a>
            </div>
        </div>
    {% endfor %}
{% endif %}

{% if users %}
    <h5>Users</h5>
    {% for user in users %}
        <div class="search-query-container">
            <div class="userimg-search-container">
                <img class="user-search-img" src="{{ url_for('static', filename='img/avatars/{}'.format(user.info.avatar)) }}" style="width: 2rem; height: auto;">
            </div>
            <div class=username-search-container>
                <a href="{{ url_for('main.user', username=user.username) }}" class="username">
                    {{ user.username }}
                </a>
            </div>
        </div>
    {% endfor %}
{% endif %}

{% if countries %}
    <h5>Countries</h5>
    {% for country in countries %}
        <div class="search-query-container">
            <a href="{{ url_for('static', filename='img/flags/')+country.code+'.png' }}" class="img-link">
                <img src="{{ url_for('static', filename='img/flags/')+country.code+'.png' }}" alt="Flag of {{ country.name }}" class="country-flag" style="width: 2rem; height: auto;">
            </a>
            <div class="country-search-name">
                <a href="{{ url_for('main.country_view', id=country.id) }}" class="county-search-name">
                    {{ country.name }}
                </a>
            </div>
        </div>
    {% endfor %}
{% endif %}