<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/globe-favi.png') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
    {% if current_user.is_authenticated %}
        <script type="text/javascript">
            setInterval(function(){
                $.ajax({type: "GET",
                    url: "{{ url_for('main.check_new_messages') }}",
                    success:function(result) {
                        if (result != 0) {
                            $('#message-count').text(`(${result})`);
                        }
                        $('#message-count').text
                    },
                    error:function(result) {
                        alert('error');
                    }
                });
            }, 60000)
        </script>
    {% endif %}
    {% block scripts %}{% endblock %}
    <title>Southeast Asia Travel</title>
</head>
<body>
    <header>
        <ul>
            <a href="{{ url_for('main.news') }}"><li>News</li></a>
            <a href="{{ url_for('main.guides') }}"><li>Guides</li></a>
            <a href="{{ url_for('main.galleries') }}"><li>Galleries</li></a>
            <a href="{{ url_for('main.countries') }}"><li>Countries</li></a>
            <a href="{{ url_for('main.gear') }}"><li>Travel Gear</li></a>
            <a href="{{ url_for('main.about_me') }}"><li>About</li></a>
            {% if current_user.is_anonymous %}
                <a href="{{ url_for('auth.signup') }}"><li>Sign up</li></a>
                <a href="{{ url_for('auth.login') }}"><li>Log In</li></a>
            {% else %}
                <a href="{{ url_for('main.user', username=current_user.username) }}">
                    <li>
                        {{ current_user.username -}}
                        <span id="message-count" class="new-messages-nav">
                            {%- with count = current_user.received_messages.filter_by(seen=False).count() %}
                            {{- "({})".format(count) if count else "" }}
                            {% endwith %}
                        </span>
                    </li>
                </a>
                <a href="{{ url_for('auth.logout') }}">
                    <li>Log out</li>
                </a>
            {% endif %}
        </ul>
    </header>
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert"">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <div class='copy'>
            &copy; Copyright 2020 Zarkos. Created using Flask
        </div>
    </footer>
</body>
</html>