{% extends "base.html" %}
{% from 'macros.html' import article_form %}
{% block content %}
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="content-section">
        {{ article_form(form, 'Update', 'Update article', 'main.article_view', id) }}
    </div>
{% endblock content %}