{% macro pagination(pag_obj, path, left_edge=1, left_current=1, 
    right_current=1, right_edge=2) -%}
    {% if pag_obj.pages %}
        <li class="page-item{{ '' if pag_obj.has_prev else ' disabled' }}">
            <a href="{{ url_for(path, page=pag_obj.prev_num, **kwargs) }}" class="page-link">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
    {% endif %}
    {% for page in pag_obj.iter_pages(left_edge, left_current, right_current, 
                                      right_edge) %}
        {% if page %}
            <li class="page-item{{ ' disabled' if page == pag_obj.page else ''}}">
                <a href="{{ url_for(path, page=page, **kwargs) }}" class="page-link">
                    {{ page }}
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a href="#" class="page-link">
                    &hellip;
                </a>
            </li>
        {% endif %}
    {% endfor %}
    {% if pag_obj.pages %}
        <li class="page-item{{ '' if pag_obj.has_next else ' disabled' }}">
            <a href="{{ url_for(path, page=pag_obj.next_num, **kwargs) }}" class="page-link">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    {% endif %}
{%- endmacro %}

{% macro article_form(form, legend, submit, article=None, id=None, class='main-form') -%}
    <form action="" method="post" enctype="multipart/form-data" class="{{ class }}" novalidate>
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                {{ legend }} article
            </legend>
            <div class="form-group">
                {{ form.article_type.label }}
                {{ form.article_type(class_='form-control') }}
                {% for error in form.article_type.errors %}
                <div class="text-danger">
                    <small>[{{ error }}]</small>
                </div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.title.label }}
                {{ form.title(class_='form-control') }}
                {% for error in form.title.errors %}
                <div class="text-danger">
                    <small>[{{ error }}]</small>
                </div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.country_tag.label }}
                {{ form.country_tag(class_='my-select selectpicker form-control', 
                                    data_live_search="true", 
                                    title="Select realted countries") }}
                {% for error in form.country_tag.errors %}
                <div class="text-danger">
                    <small>[{{ error }}]</small>
                </div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.hidden_body(id='hidden-body') }}
                {{ quill_editor() }}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class_='btn btn-primary', value=submit, title='Show me somethign') }}
            <a href="{{ url_for(article or 'main.index', id=id) }}" class="btn btn-secondary">
                Cancel
            </a>
        </div>
    </form>
{%- endmacro %}


{% macro quill_editor(type='article', class='') -%}
        <div class="editor-container">
            <div id="editor" class='{{ class }}'></div>
        </div>
        <script>
            var toolbarOptions = [
                ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
                ['blockquote', 'code-block'],
                
                [{ 'header': 1 }, { 'header': 2 }],               // custom button values
                [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
                [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
                [{ 'direction': 'rtl' }],                         // text direction
                
                [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
                [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                
                [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
                [{ 'font': [] }],
                [{ 'align': [] }],
                [ 'link', 'image', 'video', 'formula' ],
                
                ['clean']                                         // remove formatting button
            ];
            var quill = new Quill('#editor', {
                theme: 'snow',
                placeholder: 'Type here...',
                modules: {
                    toolbar: toolbarOptions,
                }
            });
            {% if type=='article' %}
                quill.on('text-change', function(delta, oldDelta, source) {
                    $('#quill-output').html(quill.root.innerHTML);
                });
            {% endif %}
            // quill.on('text-change', function(delta, oldDelta, source) {
            //     $('#hidden_body').val(quill.root.innerHTML);
            // });
            $('.main-form').submit(function(e) {
                if (quill.getLength() == 1) {
                    e.preventDefault();
                    $('.main-form').append('<span class="text-danger">This field is required</span>')
                }
                else {
                    $('.main-form #hidden-body').val(quill.root.innerHTML);
                }
            });
            quill.root.innerHTML = $('#hidden-body').val() ? $('#hidden-body').val() : ''
        </script>
{%- endmacro %}