{% extends "base.html" %}
{% block content %}
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
        <h1>User: {{ user.username }}</h1>
        <div class="user-profile">
            <img class="user-profile-img" src="{{ url_for('static', filename='img/avatars/{}'.format(user.info.avatar)) }}">
            <div class="user-profile-info">
                <div class="user-profile-field">
                    Birthdate: {{ user.info.birthdate }}
                </div>
                <div class="user-profile-field">
                    Gender: {{ user.info.gender }}
                </div>
                <div class="user-profile-field">
                    Job: {{ user.info.job }}
                </div>
                <div class="user-profile-field">
                    Origin Coutnry: {{ user.info.origin_country }}
                </div>
                <div class="user-profile-field">
                    Last seen: {{ user.info.last_seen }}
                </div>
                <div class="user-profile-field">
                    Registration date: {{ user.info.registration_date }}
                </div>
                <div class="user-profile-field">
                    About: {{ user.info.about }}
                </div>
            </div>
        </div>
        <div class="user-info">
            {% if user == current_user %}
                <a href="{{ url_for('main.edit_profile') }}">Edit your profile</a>
            {% endif %}
        </div>
        <div class="user-info">
            {% if current_user.is_authenticated and user != current_user %}
                <a href="{{ url_for('main.send_message', id=user.id) }}">Send private message</a>
            {% else %}
                <a href="{{ url_for('main.messages') }}">Messages</a>
            {% endif %}
        </div><hr />
        {% for article in articles.items %}
            {% include '_article.html' %}
        {% endfor %}<hr/ >
        <div class=pagination>
            {% if articles.has_prev %}
                <a href="{{ url_for('main.index', page=articles.prev_num) }}">Back</a>
            {% endif %}
            {% for page in articles.iter_pages() %}
                {% if page %}
                    {% if page != articles.page %}
                        <a href="{{ url_for('main.index', page=page) }}">{{ page }}</a>
                    {% else %}
                        <strong>{{ page }}</strong>
                    {% endif %}
                {% else %}
                    <span class=ellipsis>…</span>
                {% endif %}
            {% endfor %}
            {% if articles.has_next %}
                <a href="{{ url_for('main.index', page=articles.next_num) }}">Forward</a>
            {% endif %}
        </div>

{% endblock content %}