<h2>Hi, {{ user.username }}</h2>
<div>You have registered on site <a href="http://127.0.0.1:5000/">www.travelblog.net</a></div>. 
<div>Thank You for doing that.To complete the registration process <a href="{{ link }}">click here</a> 
or simply copy link down below to your browser address bar and click Enter.</div>
<div>{{ link }}</div>
<div>This link will be valid for 24 hours from registration momment.</div>
<div>If you have not registered on our site just ignore this message.</div>
<div>Best regards - <a href="http://127.0.0.1:5000/">www.travelblog.net</a></div> 